<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/trix.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>{{titlePage}}</title>
</head>
<body>
    <div class="nombre-sitio contenedor">
        <h1>
            <a href="/">PORTARE</a>
        </h1>

        {{#if barra}}
            <div class="buscador">
                <form action="#">
                    <input type="text" name="" class="buscar" id="">
                    <input type="submit" value="Buscar">
                </form>
            </div>
        {{/if}}
    </div>

    <header class="site-header contenedor separador">
        <h2>{{titlePage}}</h2>
        {{#if tagline}}
            <p class="tagline"> {{tagline}}</p>
        {{/if}}

        {{#if button}}
            <a href="/vacantes/nueva" class="btn btn-azul">Publicar nueva vacante</a>
        {{/if}}
    </header>

    <div class="contenido-principal contenedor">
        {{#if mensajes}}
            <div class="alertas">
                {{#mostrarAlertas mensajes}}
                {{/mostrarAlertas}}
            </div>
        {{/if}}

        {{{body}}}
    </div>

    <script src="/js/trix.js"></script>
    <script src="/dist/bundle.js"></script>
</body>
</html>