<main class="contenedor">
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label >Nombre</label>
            <input type="text" name="nombre" placeholder="Tu nombre">
        </div>
        <div class="campo">
            <label >Email</label>
            <input type="email" name="email" placeholder="Tu correo electronico">
        </div>
        <div class="campo">
            <label >Contrase単a</label>
            <input type="password" name="password" placeholder="Tu contrase単a">
        </div>
        <div class="campo">
            <label >Repetir contrase単a</label>
            <input type="password" name="confirmar" placeholder="Repite tu contrase単a">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Iniciar sesion</a>
        </div>

        <div class="campo">
            <input type="submit" value="Crear cuenta" class="btn btn-azul">
        </div>
    </form>
</main>