<main class="contenedor">
    <form action="/vacantes/nueva" id="vacante" method="POST" class="default-form">
        <h3>Informacion general</h3>

        <div class="campo">
            <label >Titulo</label>
            <input type="text" name="titulo" placeholder="Ej: React Developer" >
        </div>
        <div class="campo">
            <label >Empresa</label>
            <input type="text" name="empresa" placeholder="Ej: Empresa contrata" >
        </div>
        <div class="campo">
            <label >Ubicacion</label>
            <input type="text" name="ubicacion" placeholder="Ej: Argentina o Remoto" >
        </div>
        <div class="campo">
            <label >Salario (USD)</label>
            <input type="text" name="salario" placeholder="Ej: US$500" >
        </div>
        <div class="campo">
            <label >Contrato</label>
            <select name="contrato" >
                <option disabled selected>--Selecciona--</option>
                <option value="Freelance">Freelance</option>
                <option value="Tiempo Completo">Tiempo Completo</option>
                <option value="Medio Tiempo">Medio Tiempo</option>
                <option value="Por Proyecto">Por proyecto</option>
            </select>
        </div>
        <h3>Descripcion del puesto</h3>
        <div class="campo descripcion">
            <label >Descripcion</label>
            <input id="x" type="hidden" name="descripcion">
            <trix-editor input="x"></trix-editor>
        </div>

        <ul id="lista-conocimientos"class="lista-conocimientos">
            {{#seleccionarSkills a}}
            {{/seleccionarSkills}}
        </ul>

        <div class="campo centrar-horizontal">
            <input type="hidden" name="skills" id="skills">
            <input type="submit" value="Publicar" class="btn btn-azul">
        </div>
    </form>
</main>