<main class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label >Email</label>
            <input type="email" name="email" placeholder="Tu correo electronico">
        </div>
        <div class="campo">
            <label >Contraseña</label>
            <input type="password" name="password" placeholder="Tu contraseña">
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Registrarse</a>
            <a href="/restablecer-password">Olvide mi contraseña</a>
        </div>

        <div class="campo">
            <input type="submit" value="Iniciar sesion" class="btn btn-azul">
        </div>
    </form>
</main>